{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"/>

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %} ">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %} ">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %} ">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %} ">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %} ">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %} ">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %} ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-0 p-b-50">
            <form class="login100-form validate-form flex-sb flex-w" action="{% url 'cadastro' %}" method="POST">
                {% csrf_token %}
                {% include 'partials/_alertas.html' %}

                <span class="login100-form-title p-b-51">
						Cadastre-se
					</span>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Primeiro nome</label>
                        <input type="text" class="form-control" id="inputEmail4" name="name1" value="{{ name1.0 }}"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Segundo nome</label>
                        <input type="text" class="form-control" id="inputPassword4" name="name2" value="{{ name2.0 }}"
                               required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Email</label>
                        <input type="email" name="email" class="form-control" id="inputAddress"
                               placeholder="ex: luiz@gmail.com" value=" {{ email.0 }}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Username</label>
                        <input type="text" class="form-control" id="inputPassword4" name="username"
                               placeholder="ex: Flavio123" value="{{ username.0 }}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password1">Senha</label>
                        <input type="password" name="password1" class="form-control" id="password1"
                               value="{{ password1.0 }}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password2">Confirmar Senha</label>
                        <input type="password" class="form-control" id="password2" name="password2"
                               value="{{ password2.0 }}" required>
                    </div>
                </div>

                <div class="form-group row col-md-12">
                    <label for="inputAddress2">Função</label>
                    <input type="text" class="form-control" name="funcao" id="inputAddress2"
                           placeholder="Desenvolvedor Python - Angular" value="{{ funcao.0 }}" required>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Linkedin</label>
                        <input type="url" class="form-control" id="inputCity" name="linkedin" value="{{ linkedin.0 }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">GitHub</label>
                        <input type="url" class="form-control" id="inputCity" name="github" value=" {{ github.0 }}">
                    </div>
                </div>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="foto_perfil"
                           value="{{ foto_perfil.0 }}">
                    <label class="custom-file-label" for="validatedCustomFile">Foto de Perfil</label>
                </div>
                <div class="container-login100-form-btn m-t-17 disabled">
                    <button class="login100-form-btn" type="submit" id="cadastro">
                        Cadastrar-se
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>