<!-- Contact Section Form-->
<div class="row">
    <div class="col-lg-8 mx-auto">
        <form id="contactForm" name="sentMessage" action="{% url 'contato' %}" novalidate="novalidate" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}

            <input type="text" name="email_to" value="{{ email }}" hidden>
            <input type="text" name="next" value="{{ request.path }}" hidden>

            <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" type="text" placeholder="Name" name="name" required/>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Email Address</label>
                    <input class="form-control" type="email" placeholder="Email Address" name="email" required=/>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label for="phone">Phone Number</label>
                    <input class="form-control" id="phone" type="number" placeholder="Phone Number"
                           name="phone" required/>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label for="message">Message</label>
                    <textarea class="form-control" rows="5" placeholder="Message"
                              name="message" required></textarea>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
