{% load static %}
<div class="col-md-6 col-lg-4 mb-5">
    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ index }}">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i
                    class="fas fa-plus fa-3x"></i></div>
        </div>
        <div class="parent">
            <img class="img-fluid mx-auto d-block" src="{{ portifolio.foto.url }}" alt=""/>
        </div>
    </div>
</div>

<!-- Portfolio Modals-->
<div class="portfolio-modal modal fade" id="portfolioModal{{ index }}" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"
                                id="portfolioModal6Label">{{ portifolio.titulo }}</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5"
                                 src="{{ portifolio.foto.url }}" alt=""/>
                            <!-- Portfolio Modal - Text-->
                            <div class="container">
                                <p class="text-center" style="word-break: break-word">{{ portifolio.descricao }}</p>
                            </div>

                            <div class="row">
                                {% if index %}
                                    <form action="{% url 'portifolio' %}" method="post" class="col-md-7">
                                        {% csrf_token %}
                                        <input type="text" value="{{ portifolio.id }}" name="delete" hidden>
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fas fa-times fa-fw"></i>
                                            Delete Item
                                        </button>
                                    </form>
                                {% endif %}

                                <button class="btn btn-primary" data-dismiss="modal">
                                    <i class="fas fa-times fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>